In [21]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as web

import datetime as dt
import random
import os

from sklearn.preprocessing import MinMaxScaler
from keras.layers import Dense, Dropout, LSTM
from keras.models import Sequential

import yfinance as yf
import seaborn as sns

In [43]:
def get_data(crypto_currency, official_currency):
    # Define a start date and End Date
    start = dt.datetime(2015,1,1)
    now = dt.datetime.now()
    
    data = yf.download(tickers=f'{crypto_currency}-{official_currency}', period = '22h', interval = '15m')
    return data


matic_df = get_data("MATIC" ,"GBP")
btc_df = get_data("BTC", "GBP")

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MATIC-GBP: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

In [44]:
btc_df

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-02-28 01:00:00,19443.265625,19444.791016,19443.265625,19444.791016,19444.791016,1468416
2023-02-28 01:15:00,19451.144531,19456.732422,19440.695312,19441.820312,19441.820312,22886400
2023-02-28 01:30:00,19435.062500,19438.361328,19419.931641,19420.541016,19420.541016,21721088
2023-02-28 01:45:00,19406.347656,19452.318359,19404.568359,19452.318359,19452.318359,66576384
2023-02-28 02:00:00,19451.632812,19451.632812,19414.587891,19423.816406,19423.816406,1574912
...,...,...,...,...,...,...
2023-02-28 21:00:00,19386.699219,19387.164062,19294.134766,19294.134766,19294.134766,69860352
2023-02-28 21:15:00,19267.857422,19294.308594,19267.558594,19289.890625,19289.890625,182898688
2023-02-28 21:30:00,19293.035156,19295.845703,19186.783203,19186.783203,19186.783203,185616384
2023-02-28 21:45:00,19186.759766,19253.513672,19185.287109,19246.462891,19246.462891,195141632
2023-02-28 22:00:00,19248.384766,19295.566406,19248.384766,19283.234375,19283.234375,37858304

In [33]:
def preprocess():
    scaler = MinMaxScaler(feature_range=(0,1))

    scaled_data = scaler.fit_transform(data['Close'].values.reshape(-1,1))

    print(scaled_data)


def preprocess_data(data,scaler):
    # Strip the prices from the dataset
    prices = data['Close'].values
    
    # Preprocessing
    scaled_data = scaler.fit_transform(data['Close'].values.reshape(-1,1))
    return scaled_data

def Create_Neural_Network(x_train):
    model = Sequential()

    model.add(LSTM(units=50, return_sequences= True, input_shape=(x_train.shape[1],1)))
    model.add(Dropout(0.2))
    model.add(LSTM(units=50, return_sequences= True))
    model.add(Dropout(0.2))
    model.add(LSTM(units=50))
    model.add(Dropout(0.2))
    model.add(Dense(units=1))
    
    #print(len(model.layers))
    print(model.summary())
    
    return model

                Open      High       Low     Close  Adj Close     Volume
Date
2020-01-01  0.010412  0.011674  0.010373  0.011291   0.011291   22612459
2020-01-02  0.011276  0.011944  0.011000  0.011144   0.011144   27935328
2020-01-03  0.011177  0.011794  0.010882  0.011616   0.011616   18069520
2020-01-04  0.011597  0.011868  0.011364  0.011438   0.011438   12574923
2020-01-05  0.011432  0.011680  0.011347  0.011403   0.011403   10180362
...              ...       ...       ...       ...        ...        ...
2023-02-23  1.159441  1.174575  1.116612  1.127330   1.127330  444452751
2023-02-24  1.127245  1.132621  1.048788  1.060088   1.060088  517207659
2023-02-25  1.060135  1.068863  1.006629  1.045369   1.045369  395091246
2023-02-26  1.045210  1.085432  1.037849  1.072104   1.072104  345983315
2023-02-27  1.072188  1.066140  1.010514  1.024246   1.024246  457019758

[1154 rows x 6 columns]